node_modules
client/node_modules
server/db
yarn-error.log
yarn.lock
server/taipeiBusRoute.gz
server/taipeiBusRoute.json
server/taipeiBusStop.gz
server/taipeiBusStop.json
server/newTaipeiBusRoute.json
server/newTaipeiBusStop.json
taipeiBusRoute.gz
taipeiBusRoute.json
